a, p, h1, h2, h3, h4, h5, h6, input, textarea, td, th, div, button, .button {
    font-family: Calibri, serif !important;
}

.bottomNavigation {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgba(233, 233, 233, 0.87);
    border-top: 1px solid #dfdfdf;
}

.navItem {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color 500ms;
    cursor: pointer;
}

.navItem:hover {
    text-align: center;
    padding-top: 8px;
    background-color: #d5d5d5;
    transition: background-color 1000ms;
}

.navItem .icon {
    font-size: 20px;

}

.navItem .navLabel {
    width: 100%;
    float: left;
    font-size: 12px;
}

.main {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow: auto;
}

.imageBanner {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.imageBannerOnly {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.bannerItem {
    width: 90vw
}

.bannerItem div {
    padding: 0px;
}

.bannerItem div div {
    border-radius: 15px;
    background-color: #ececec;
    padding-bottom: 10px;
    float: left;
}

@media only screen and (min-width: 900px) {
    .cardView {
        box-shadow: 0px 0px 10px #c5c5c5;
        border-radius: 17px;
        padding: 10px;
    }
}

.bannerItem div div .title {
    text-align: left;;
    direction: ltr;
    padding-top: 10px;
    padding-left: 15px;
    float: left;
    width: 100%;
}

.bannerItem div div .description {
    text-align: left;;
    direction: ltr;
    padding-left: 15px;
    width: 100%;
    float: left;
}

.header {
    width: 100%;
    text-align: left;;
    direction: ltr;
    padding: 20px;
    padding-top: 0px;
    font-size: 18px;
}

.moreLink {
    float: right;
    font-size: 14px;
    color: #3014cc;
}

.downloadBtn {
    padding: 10px;
    background-color: #3014cc;
    color: white;
    border-radius: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.downloadBtnLight {
    padding: 10px;
    background-color: #EFEFF4;
    color: #404040;
    border-radius: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.downloadBtn:hover {
    padding: 10px;
    background-color: #2d13be;
    color: #d1d1d1;
    border-radius: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}

.newConfigTextItem {
    width: 95% !important;
    position: absolute;
    padding-left: 107px !important;
    float: left;
    right: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    transition: width 500ms;
    background: #3014cc !important;
    width: 26px;
}

.owl-dot {
    transition: width 500ms !important;
}

.appItem {
    width: 337px;
    float: left;
    padding-top: 10px;
}

.appItem img {
    float: left;
    border-radius: 25px;
}

.appItem .textItem {
    width: 100%;
    position: absolute;
    padding-left: 100px;
    float: left;
}

.appItem .textItem h4 {
    direction: ltr;
    text-align: left;;
    padding-left: 15px;
    float: left;
    width: 100%;
    font-size: 18px;
    padding-top: 9px;
}

.appItem .textItem h4 span {
    direction: ltr;
    font-size: 12px;
    color: #9c9c9c;
}

.appItem .textItem div {
    width: 100%;
    float: left;
    padding-left: 20px;
    text-align: left;;
}

.appItemSlider {
    width: 100%;
}

.opacityHide {
    opacity: 0;
    position: initial !important;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.flex-container > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

@media only screen and (min-width: 600px) {
    .bannerItem {
        width: 33vw
    }

}

/*phone*/
@media only screen and (max-width: 931px) {
    .appItem {
        width: 90vw;
        float: left;
        padding-top: 10px;
    }

}

@media only screen and (max-width: 991px) {
    .appItem {
        width: 90vw;
        float: left;
        padding-top: 10px;
    }

    .withoutPadding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.headerContainer {
    background-color: #1b1e21;
    width: 100%;
    height: 200px;
    min-height: 200px;
    float: left;
    text-align: center;
}

.headerImage {
    width: 100%;
    height: 200px;
    min-height: 200px;
    float: left;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: absolute;
    z-index: 1000;
}

.headerIcon {
    position: relative;
    z-index: 1001;
    width: 128px;
    top: 136px;
    border-radius: 20px;
}

.paragraphConfigFa {
    direction: ltr;
    text-align: justify;
}

.paragraphConfigEn {
    direction: ltr;
    text-align: justify;
}

.accordingConfigLink {
    color: rgba(60, 60, 60, 0.87);
}

.accordingConfigLink:hover {
    color: rgba(29, 29, 29, 0.87);
    text-decoration: none;
}

.screenWidth {
    width: 150px
}

@media only screen and (min-width: 991px) {
    .screenWidth {
        width: 250px
    }
}

.darkBtn {
    background-color: rgba(24, 24, 24, 0.87);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 15px;
    font-size: 14px;
}

.darkBtn:hover {
    background-color: rgba(52, 52, 52, 0.87);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 15px;
    font-size: 14px;
    text-decoration: none;
}

.right {
    float: left;
}

.descMini {
    color: rgba(74, 74, 74, 0.87);
}

.break {
    width: 100%;
    float: left;
    height: 10px;
    background-color: red;
}

.headerFa {
    direction: ltr;
    float: left;
    width: 100%;
    text-align: left;;
}

.ltr {
    direction: ltr;
    text-align: left;;
}

.blueText {
    color: #3614f9;
}

.checked {
    color: orange;
}

.small {
    font-size: 10px !important;
}

.miniTitle {
    font-size: 13px;
}

.paddingTopRowCustom1 {
    padding-top: 10px;
}

.cardViewCustom {
    background-color: #E1E1E4;
    padding: 10px;
    float: left;
    border-radius: 15px;
    width: 100%;
}

.listStyle li {
    margin-right: 20px;
}

.commentStyle {
    width: 88vw;
    background-color: #E1E1E4;
    padding: 10px;
    border-radius: 15px
}

.txtAlignLeft {
    text-align: left;
}

.yellowTag {
    background-color: #F2C94C;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
}

.fixedBannerSize {

}

.navItem img {
    width: 24px;
}

#downloadHeader {
    transition: height 500ms !important;
    transition: padding 500ms !important;
}

.divider {
    float: left;;
    width: 100%;
    height: 150px;
}

.float-left {
    float: right !important;
}